In [2]:
import pandas as pd

# Variables independientes

Explicare que representa cada variable, igual lo explico en el PDF adjunto.

Los datos fueron sacados de la página de eurostat, donde se almacenan datos de diversos temas sobre los paises de europa y los dividen por año, sexo, edad, etc.

En este caso, lo dividi por año porque la situación general de un país puede cambiar dependiendo de su situación.

Filas:  Cada fila representa un país y un año, es decir, la situación en que se encontraba un país en concreto un año en concreto. Esto es relevante porque de aquí en adelante me referire a las filas como paises ya que generalmente no hay una diferencia muy grande entre los distintos años, por eso hago la aclaración de que son ambos, país y año.

In [3]:
Deuda = pd.read_csv("Deudas.csv.gz")

Deuda: Personas con moras (hipoteca o alquiler, facturas de servicios públicos o compra a plazos), porcentaje.

In [4]:
Desem = pd.read_csv("Desempleo.csv.gz")

Desempleo: Desempleo de larga duración de 15 a 74 años, porcentaje %.

In [5]:
Edu = pd.read_csv("NivelEducativo_Uni.csv.gz")

Educación Universitaria: Personas con nivel educativo universitario de 15 a 64 años, porcentaje %.

In [6]:
SD = pd.read_csv("Pricioneros-SenteciaDictada.csv.gz")

Prisioneros Sentenciados: Personas en prisión con sentencia dictada, por cada 100,000.

In [7]:
PJ = pd.read_csv("Prisioner-PreJuicio.csv.gz")

Prisioneros Prejuicio: Personas en prisión preventiva, por cada 100,000 habitantes.

In [8]:
RP = pd.read_csv("RiesgoPobreza.csv.gz")

Riesgo de Pobreza: Personas en un estado persistente de riesgo pobreza, por porcentaje.

In [9]:
PS = pd.read_csv("ProteccionSocial.csv.gz")

Protección social: Principales gastos en protección social, Euro por habitante.

In [10]:
PR = pd.read_csv("PrivacionRecursos.csv.gz")

Privación de Recursos: Tasa de privación material y social de 16 a 64 años, por porcentaje %.

In [11]:
Inm = pd.read_csv("Inmigración.gz")

Inmigración: Número de inmigrantes registrados anualmente.

In [12]:
Emi = pd.read_csv("Emigración.csv.gz")

Emigración: Número de emigrantes registrados anualmente.

In [13]:
Robos = pd.read_csv("Robos.csv.gz")

Robos: Robos registrados por la policía por cada 100,000 habitantes. Este incluye únicamente aquellos robos donde NO hubo intimidación o violencia involucrada, tampoco incluye allanamiento, o fraude.

In [14]:
Robos_violencia = pd.read_csv("Robos-violencia.csv.gz")

Robos con violencia: Cualquier tipo de robo en el que hubiera violencia física involucrada registrada por la policía por cada 100,000 habitantes.

In [15]:
Ase = pd.read_csv("Homicidios.csv.gz")

Homicidios: Homicidios intencionales registrados por la policía por cada 100,000 habitantes.

In [16]:
IntH = pd.read_csv("Intento_H.csv.gz")

Intento de Homicidio: Intentos de homicidios intencionales registrados por la policia por cada 100,000 habitantes.

In [17]:
VS = pd.read_csv("ViolenciaSexual.csv.gz")

Violencia Sexual: Casos de violencia sexual registrados por la policía por cada 100,000 habitantes.

In [18]:
Corr = pd.read_csv('Corrupción.csv.gz')

Corrupción: Casos de corrupción registrados por la policía por cada 100,000 habitantes.

---

In [19]:
Deuda

,DATAFLOW,LAST UPDATE,freq,hhtyp,incgrp,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:ILC_MDES05(1.0),20/02/24 23:00:00,A,TOTAL,TOTAL,PC,AL,2017,29.4,NaN
1,ESTAT:ILC_MDES05(1.0),20/02/24 23:00:00,A,TOTAL,TOTAL,PC,AL,2018,27.2,NaN
2,ESTAT:ILC_MDES05(1.0),20/02/24 23:00:00,A,TOTAL,TOTAL,PC,AL,2019,27.4,NaN
3,ESTAT:ILC_MDES05(1.0),20/02/24 23:00:00,A,TOTAL,TOTAL,PC,AL,2020,26.2,NaN
4,ESTAT:ILC_MDES05(1.0),20/02/24 23:00:00,A,TOTAL,TOTAL,PC,AL,2021,27.9,NaN
...,...,...,...,...,...,...,...,...,...,...
272,ESTAT:ILC_MDES05(1.0),20/02/24 23:00:00,A,TOTAL,TOTAL,PC,UK,2015,10.2,NaN
273,ESTAT:ILC_MDES05(1.0),20/02/24 23:00:00,A,TOTAL,TOTAL,PC,UK,2016,8.7,NaN
274,ESTAT:ILC_MDES05(1.0),20/02/24 23:00:00,A,TOTAL,TOTAL,PC,UK,2017,8.0,b
275,ESTAT:ILC_MDES05(1.0),20/02/24 23:00:00,A,TOTAL,TOTAL,PC,UK,2018,8.8,NaN
276,ESTAT:ILC_MDES05(1.0),20/02/24 23:00:00,A,TOTAL,TOTAL,PC,XK,2018,49.7,NaN

In [20]:
dfs = [Deuda, Desem, Edu, SD, PJ, RP, PS, PR, Inm, Emi, Robos, Robos_violencia, Ase, IntH, VS, Corr]

In [21]:
for df in dfs:
    print(df)

                  DATAFLOW        LAST UPDATE freq  hhtyp incgrp unit geo  \
0    ESTAT:ILC_MDES05(1.0)  20/02/24 23:00:00    A  TOTAL  TOTAL   PC  AL
1    ESTAT:ILC_MDES05(1.0)  20/02/24 23:00:00    A  TOTAL  TOTAL   PC  AL
2    ESTAT:ILC_MDES05(1.0)  20/02/24 23:00:00    A  TOTAL  TOTAL   PC  AL
3    ESTAT:ILC_MDES05(1.0)  20/02/24 23:00:00    A  TOTAL  TOTAL   PC  AL
4    ESTAT:ILC_MDES05(1.0)  20/02/24 23:00:00    A  TOTAL  TOTAL   PC  AL
..                     ...                ...  ...    ...    ...  ...  ..
272  ESTAT:ILC_MDES05(1.0)  20/02/24 23:00:00    A  TOTAL  TOTAL   PC  UK
273  ESTAT:ILC_MDES05(1.0)  20/02/24 23:00:00    A  TOTAL  TOTAL   PC  UK
274  ESTAT:ILC_MDES05(1.0)  20/02/24 23:00:00    A  TOTAL  TOTAL   PC  UK
275  ESTAT:ILC_MDES05(1.0)  20/02/24 23:00:00    A  TOTAL  TOTAL   PC  UK
276  ESTAT:ILC_MDES05(1.0)  20/02/24 23:00:00    A  TOTAL  TOTAL   PC  XK

     TIME_PERIOD  OBS_VALUE OBS_FLAG
0           2017       29.4      NaN
1           2018       27.2      NaN
2           2019       27.4      NaN
3           2020       26.2      NaN
4           2021       27.9      NaN
..           ...        ...      ...
272         2015       10.2      NaN
273         2016        8.7      NaN
274         2017        8.0        b
275         2018        8.8      NaN
276         2018       49.7      NaN

[277 rows x 10 columns]
                 DATAFLOW        LAST UPDATE freq indic_em     age sex  \
0    ESTAT:UNE_LTU_A(1.0)  14/12/23 23:00:00    A      LTU  Y15-74   T
1    ESTAT:UNE_LTU_A(1.0)  14/12/23 23:00:00    A      LTU  Y15-74   T
2    ESTAT:UNE_LTU_A(1.0)  14/12/23 23:00:00    A      LTU  Y15-74   T
3    ESTAT:UNE_LTU_A(1.0)  14/12/23 23:00:00    A      LTU  Y15-74   T
4    ESTAT:UNE_LTU_A(1.0)  14/12/23 23:00:00    A      LTU  Y15-74   T
..                    ...                ...  ...      ...     ...  ..
332  ESTAT:UNE_LTU_A(1.0)  14/12/23 23:00:00    A      LTU  Y15-74   T
333  ESTAT:UNE_LTU_A(1.0)  14/12/23 23:00:00    A      LTU  Y15-74   T
334  ESTAT:UNE_LTU_A(1.0)  14/12/23 23:00:00    A      LTU  Y15-74   T
335  ESTAT:UNE_LTU_A(1.0)  14/12/23 23:00:00    A      LTU  Y15-74   T
336  ESTAT:UNE_LTU_A(1.0)  14/12/23 23:00:00    A      LTU  Y15-74   T

       unit geo  TIME_PERIOD  OBS_VALUE OBS_FLAG
0    PC_UNE  AT         2012       28.3      NaN
1    PC_UNE  AT         2013       28.0      NaN
2    PC_UNE  AT         2014       31.0      NaN
3    PC_UNE  AT         2015       33.3      NaN
4    PC_UNE  AT         2016       36.6      NaN
..      ...  ..          ...        ...      ...
332  PC_UNE  TR         2016       20.6      NaN
333  PC_UNE  TR         2017       21.8      NaN
334  PC_UNE  TR         2018       22.3      NaN
335  PC_UNE  TR         2019       23.5      NaN
336  PC_UNE  TR         2020       25.0      NaN

[337 rows x 11 columns]
                    DATAFLOW        LAST UPDATE freq sex     age unit isced11  \
0    ESTAT:EDAT_LFSE_03(1.0)  14/09/23 23:00:00    A   T  Y15-64   PC   ED5-8
1    ESTAT:EDAT_LFSE_03(1.0)  14/09/23 23:00:00    A   T  Y15-64   PC   ED5-8
2    ESTAT:EDAT_LFSE_03(1.0)  14/09/23 23:00:00    A   T  Y15-64   PC   ED5-8
3    ESTAT:EDAT_LFSE_03(1.0)  14/09/23 23:00:00    A   T  Y15-64   PC   ED5-8
4    ESTAT:EDAT_LFSE_03(1.0)  14/09/23 23:00:00    A   T  Y15-64   PC   ED5-8
..                       ...                ...  ...  ..     ...  ...     ...
340  ESTAT:EDAT_LFSE_03(1.0)  14/09/23 23:00:00    A   T  Y15-64   PC   ED5-8
341  ESTAT:EDAT_LFSE_03(1.0)  14/09/23 23:00:00    A   T  Y15-64   PC   ED5-8
342  ESTAT:EDAT_LFSE_03(1.0)  14/09/23 23:00:00    A   T  Y15-64   PC   ED5-8
343  ESTAT:EDAT_LFSE_03(1.0)  14/09/23 23:00:00    A   T  Y15-64   PC   ED5-8
344  ESTAT:EDAT_LFSE_03(1.0)  14/09/23 23:00:00    A   T  Y15-64   PC   ED5-8

    geo  TIME_PERIOD  OBS_VALUE OBS_FLAG
0    AT         2012       16.9      NaN
1    AT         2013       17.7      NaN
2    AT         2014       27.4        b
3    AT         2015       28.1      NaN
4    AT         2016       28.9      NaN
..   ..          ...        ...      ...
340  UK         2015       37.6      NaN
341  UK         2016       38.3      NaN
342  UK         2017       38.7      NaN
343  UK         2018       39.3      NaN
344  UK         2019       40.6      NaN

[345 rows x 11 columns]
                     DATAFLOW        LAST UPDATE freq  leg_stat     unit geo  \
0    ESTAT:CRIM_PRIS_TRI(1.0)  11/05/23 11:00:00    A  TRI_SPSD  P_HTHAB  AL
1    ESTAT:CRIM_PRIS_TRI(1.0)  11/05/23 11:00:00    A  TRI_SPSD  P_HTHAB  AL
2    ESTAT:CRIM_PRIS_TRI(1.0)  11/05/23 11:00:00    A  TRI_SPSD  P_HTHAB  AL
3    ESTAT:CRIM_PRIS_TRI(1.0)  11/05/23 11:00:00    A  TRI_SPSD  P_HTHAB  AL
4    ESTAT:CRIM_PRIS_TRI(1.0)  11/05/23 11:00:00    A  TRI_SPSD  P_HTHAB  AL
..                        ...                ...  ...       ...      ...  ..
363  ESTAT:CRIM_PRIS_TRI(1.0)  11/05/23 11:00:00    A  TRI_SPSD  P_HTHAB  XK
364  ESTAT:CRIM_PRIS_TRI(1.0)  11/05/23 11:00:00    A  TRI_SPSD  P_HTHAB  XK
365  ESTAT:CRIM_PRIS_TRI(1.0)  11/05/23 11:00:00    A  TRI_SPSD  P_HTHAB  XK
366  ESTAT:CRIM_PRIS_TRI(1.0)  11/05/23 11:00:00    A  TRI_SPSD  P_HTHAB  XK
367  ESTAT:CRIM_PRIS_TRI(1.0)  11/05/23 11:00:00    A  TRI_SPSD  P_HTHAB  XK

     TIME_PERIOD  OBS_VALUE  OBS_FLAG
0           2014      95.48       NaN
1           2015     104.97       NaN
2           2016     105.72       NaN
3           2017     106.20       NaN
4           2018     107.86       NaN
..           ...        ...       ...
363         2016      69.49       NaN
364         2017      68.91       NaN
365         2018      66.28       NaN
366         2019      69.06       NaN
367         2020      50.73       NaN

[368 rows x 9 columns]
                     DATAFLOW        LAST UPDATE freq leg_stat     unit geo  \
0    ESTAT:CRIM_PRIS_TRI(1.0)  11/05/23 11:00:00    A  TRI_PRE  P_HTHAB  AL
1    ESTAT:CRIM_PRIS_TRI(1.0)  11/05/23 11:00:00    A  TRI_PRE  P_HTHAB  AL
2    ESTAT:CRIM_PRIS_TRI(1.0)  11/05/23 11:00:00    A  TRI_PRE  P_HTHAB  AL
3    ESTAT:CRIM_PRIS_TRI(1.0)  11/05/23 11:00:00    A  TRI_PRE  P_HTHAB  AL
4    ESTAT:CRIM_PRIS_TRI(1.0)  11/05/23 11:00:00    A  TRI_PRE  P_HTHAB  AL
..                        ...                ...  ...      ...      ...  ..
361  ESTAT:CRIM_PRIS_TRI(1.0)  11/05/23 11:00:00    A  TRI_PRE  P_HTHAB  XK
362  ESTAT:CRIM_PRIS_TRI(1.0)  11/05/23 11:00:00    A  TRI_PRE  P_HTHAB  XK
363  ESTAT:CRIM_PRIS_TRI(1.0)  11/05/23 11:00:00    A  TRI_PRE  P_HTHAB  XK
364  ESTAT:CRIM_PRIS_TRI(1.0)  11/05/23 11:00:00    A  TRI_PRE  P_HTHAB  XK
365  ESTAT:CRIM_PRIS_TRI(1.0)  11/05/23 11:00:00    A  TRI_PRE  P_HTHAB  XK

     TIME_PERIOD  OBS_VALUE  OBS_FLAG
0           2014     100.97       NaN
1           2015     101.82       NaN
2           2016     103.26       NaN
3           2017      82.53       NaN
4           2018      77.34       NaN
..           ...        ...       ...
361         2016      23.43       NaN
362         2017      21.31       NaN
363         2018      20.85       NaN
364         2019      31.52       NaN
365         2020      27.61       NaN

[366 rows x 9 columns]
                DATAFLOW        LAST UPDATE freq  indic_il unit    age sex  \
0    ESTAT:TESSI020(1.0)  15/02/24 14:40:00    A  LIP_MD60   PC  TOTAL   T
1    ESTAT:TESSI020(1.0)  15/02/24 14:40:00    A  LIP_MD60   PC  TOTAL   T
2    ESTAT:TESSI020(1.0)  15/02/24 14:40:00    A  LIP_MD60   PC  TOTAL   T
3    ESTAT:TESSI020(1.0)  15/02/24 14:40:00    A  LIP_MD60   PC  TOTAL   T
4    ESTAT:TESSI020(1.0)  15/02/24 14:40:00    A  LIP_MD60   PC  TOTAL   T
..                   ...                ...  ...       ...  ...    ...  ..
262  ESTAT:TESSI020(1.0)  15/02/24 14:40:00    A  LIP_MD60   PC  TOTAL   T
263  ESTAT:TESSI020(1.0)  15/02/24 14:40:00    A  LIP_MD60   PC  TOTAL   T
264  ESTAT:TESSI020(1.0)  15/02/24 14:40:00    A  LIP_MD60   PC  TOTAL   T
265  ESTAT:TESSI020(1.0)  15/02/24 14:40:00    A  LIP_MD60   PC  TOTAL   T
266  ESTAT:TESSI020(1.0)  15/02/24 14:40:00    A  LIP_MD60   PC  TOTAL   T

    geo  TIME_PERIOD  OBS_VALUE OBS_FLAG
0    AL         2020       15.9      NaN
1    AL         2021       13.2      NaN
2    AT         2014        8.5      NaN
3    AT         2015        8.8      NaN
4    AT         2016        8.1      NaN
..   ..          ...        ...      ...
262  UK         2014        6.5      NaN
263  UK         2015        7.3      NaN
264  UK         2016        9.4      NaN
265  UK         2017        7.8        b
266  UK         2018        8.6      NaN

[267 rows x 11 columns]
                   DATAFLOW        LAST UPDATE freq          spdeps     unit  \
0    ESTAT:SPR_EXP_SUM(1.0)  08/12/23 23:00:00    A  TOTALNOREROUTE  EUR_HAB
1    ESTAT:SPR_EXP_SUM(1.0)  08/12/23 23:00:00    A  TOTALNOREROUTE  EUR_HAB
2    ESTAT:SPR_EXP_SUM(1.0)  08/12/23 23:00:00    A  TOTALNOREROUTE  EUR_HAB
3    ESTAT:SPR_EXP_SUM(1.0)  08/12/23 23:00:00    A  TOTALNOREROUTE  EUR_HAB
4    ESTAT:SPR_EXP_SUM(1.0)  08/12/23 23:00:00    A  TOTALNOREROUTE  EUR_HAB
..                      ...                ...  ...             ...      ...
341  ESTAT:SPR_EXP_SUM(1.0)  08/12/23 23:00:00    A  TOTALNOREROUTE  EUR_HAB
342  ESTAT:SPR_EXP_SUM(1.0)  08/12/23 23:00:00    A  TOTALNOREROUTE  EUR_HAB
343  ESTAT:SPR_EXP_SUM(1.0)  08/12/23 23:00:00    A  TOTALNOREROUTE  EUR_HAB
344  ESTAT:SPR_EXP_SUM(1.0)  08/12/23 23:00:00    A  TOTALNOREROUTE  EUR_HAB
345  ESTAT:SPR_EXP_SUM(1.0)  08/12/23 23:00:00    A  TOTALNOREROUTE  EUR_HAB

    geo  TIME_PERIOD  OBS_VALUE OBS_FLAG
0    AL         2018     540.61        p
1    AL         2019     586.63        p
2    AL         2020     651.38        p
3    AL         2021     703.70        p
4    AT         2012   11000.60      NaN
..   ..          ...        ...      ...
341  UK         2014    9729.03      NaN
342  UK         2015   11084.96      NaN
343  UK         2016    9592.01      NaN
344  UK         2017    9395.12      NaN
345  UK         2018    9360.11        p

[346 rows x 9 columns]
                  DATAFLOW        LAST UPDATE freq c_birth     age sex unit  \
0    ESTAT:ILC_MDSD05(1.0)  20/02/24 23:00:00    A     FOR  Y16-64   T   PC
1    ESTAT:ILC_MDSD05(1.0)  20/02/24 23:00:00    A     FOR  Y16-64   T   PC
2    ESTAT:ILC_MDSD05(1.0)  20/02/24 23:00:00    A     FOR  Y16-64   T   PC
3    ESTAT:ILC_MDSD05(1.0)  20/02/24 23:00:00    A     FOR  Y16-64   T   PC
4    ESTAT:ILC_MDSD05(1.0)  20/02/24 23:00:00    A     FOR  Y16-64   T   PC
..                     ...                ...  ...     ...     ...  ..  ...
269  ESTAT:ILC_MDSD05(1.0)  20/02/24 23:00:00    A     FOR  Y16-64   T   PC
270  ESTAT:ILC_MDSD05(1.0)  20/02/24 23:00:00    A     FOR  Y16-64   T   PC
271  ESTAT:ILC_MDSD05(1.0)  20/02/24 23:00:00    A     FOR  Y16-64   T   PC
272  ESTAT:ILC_MDSD05(1.0)  20/02/24 23:00:00    A     FOR  Y16-64   T   PC
273  ESTAT:ILC_MDSD05(1.0)  20/02/24 23:00:00    A     FOR  Y16-64   T   PC

    geo  TIME_PERIOD  OBS_VALUE OBS_FLAG
0    AL         2017       33.9        u
1    AL         2018       30.1        u
2    AL         2019       19.8        u
3    AL         2020       20.7        u
4    AL         2021       22.0        u
..   ..          ...        ...      ...
269  UK         2015       16.4      NaN
270  UK         2016       13.8      NaN
271  UK         2017       12.2        b
272  UK         2018       12.8      NaN
273  XK         2018       31.1        u

[274 rows x 11 columns]
                 DATAFLOW        LAST UPDATE freq agedef    age unit sex geo  \
0    ESTAT:MIGR_IMM8(1.0)  26/09/23 23:00:00    A  REACH  TOTAL   NR   T  AT
1    ESTAT:MIGR_IMM8(1.0)  26/09/23 23:00:00    A  REACH  TOTAL   NR   T  AT
2    ESTAT:MIGR_IMM8(1.0)  26/09/23 23:00:00    A  REACH  TOTAL   NR   T  AT
3    ESTAT:MIGR_IMM8(1.0)  26/09/23 23:00:00    A  REACH  TOTAL   NR   T  AT
4    ESTAT:MIGR_IMM8(1.0)  26/09/23 23:00:00    A  REACH  TOTAL   NR   T  AT
..                    ...                ...  ...    ...    ...  ...  ..  ..
332  ESTAT:MIGR_IMM8(1.0)  26/09/23 23:00:00    A  REACH  TOTAL   NR   T  UK
333  ESTAT:MIGR_IMM8(1.0)  26/09/23 23:00:00    A  REACH  TOTAL   NR   T  UK
334  ESTAT:MIGR_IMM8(1.0)  26/09/23 23:00:00    A  REACH  TOTAL   NR   T  UK
335  ESTAT:MIGR_IMM8(1.0)  26/09/23 23:00:00    A  REACH  TOTAL   NR   T  UK
336  ESTAT:MIGR_IMM8(1.0)  26/09/23 23:00:00    A  REACH  TOTAL   NR   T  UK

     TIME_PERIOD  OBS_VALUE OBS_FLAG
0           2012      91557      NaN
1           2013     101866      NaN
2           2014     116262      NaN
3           2015     166323      NaN
4           2016     129509      NaN
..           ...        ...      ...
332         2015     631452      NaN
333         2016     588993      NaN
334         2017     644209      NaN
335         2018     603953        p
336         2019     680906      NaN

[337 rows x 11 columns]
                 DATAFLOW        LAST UPDATE freq    age agedef unit sex geo  \
0    ESTAT:MIGR_EMI2(1.0)  21/09/23 23:00:00    A  TOTAL  REACH   NR   T  AT
1    ESTAT:MIGR_EMI2(1.0)  21/09/23 23:00:00    A  TOTAL  REACH   NR   T  AT
2    ESTAT:MIGR_EMI2(1.0)  21/09/23 23:00:00    A  TOTAL  REACH   NR   T  AT
3    ESTAT:MIGR_EMI2(1.0)  21/09/23 23:00:00    A  TOTAL  REACH   NR   T  AT
4    ESTAT:MIGR_EMI2(1.0)  21/09/23 23:00:00    A  TOTAL  REACH   NR   T  AT
..                    ...                ...  ...    ...    ...  ...  ..  ..
334  ESTAT:MIGR_EMI2(1.0)  21/09/23 23:00:00    A  TOTAL  REACH   NR   T  UK
335  ESTAT:MIGR_EMI2(1.0)  21/09/23 23:00:00    A  TOTAL  REACH   NR   T  UK
336  ESTAT:MIGR_EMI2(1.0)  21/09/23 23:00:00    A  TOTAL  REACH   NR   T  UK
337  ESTAT:MIGR_EMI2(1.0)  21/09/23 23:00:00    A  TOTAL  REACH   NR   T  UK
338  ESTAT:MIGR_EMI2(1.0)  21/09/23 23:00:00    A  TOTAL  REACH   NR   T  UK

     TIME_PERIOD  OBS_VALUE OBS_FLAG
0           2012      51812      NaN
1           2013      54071      NaN
2           2014      53491      NaN
3           2015      56689      NaN
4           2016      64428      NaN
..           ...        ...      ...
334         2015     299183      NaN
335         2016     340440      NaN
336         2017     359665      NaN
337         2018     344347        p
338         2019     368385      NaN

[339 rows x 11 columns]
                    DATAFLOW        LAST UPDATE freq      iccs     unit geo  \
0    ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0502  P_HTHAB  AL
1    ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0502  P_HTHAB  AL
2    ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0502  P_HTHAB  AL
3    ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0502  P_HTHAB  AL
4    ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0502  P_HTHAB  AL
..                       ...                ...  ...       ...      ...  ..
367  ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0502  P_HTHAB  XK
368  ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0502  P_HTHAB  XK
369  ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0502  P_HTHAB  XK
370  ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0502  P_HTHAB  XK
371  ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0502  P_HTHAB  XK

     TIME_PERIOD  OBS_VALUE  OBS_FLAG
0           2014     274.90       NaN
1           2015     242.98       NaN
2           2016     196.17       NaN
3           2017     177.15       NaN
4           2018     188.62       NaN
..           ...        ...       ...
367         2016     710.82       NaN
368         2017     312.25       NaN
369         2018     309.65       NaN
370         2019     269.26       NaN
371         2020     237.02       NaN

[372 rows x 9 columns]
                    DATAFLOW        LAST UPDATE freq      iccs     unit geo  \
0    ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0401  P_HTHAB  AL
1    ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0401  P_HTHAB  AL
2    ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0401  P_HTHAB  AL
3    ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0401  P_HTHAB  AL
4    ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0401  P_HTHAB  AL
..                       ...                ...  ...       ...      ...  ..
372  ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0401  P_HTHAB  XK
373  ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0401  P_HTHAB  XK
374  ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0401  P_HTHAB  XK
375  ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0401  P_HTHAB  XK
376  ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0401  P_HTHAB  XK

     TIME_PERIOD  OBS_VALUE  OBS_FLAG
0           2014      10.25       NaN
1           2015       8.11       NaN
2           2016       5.53       NaN
3           2017       6.36       NaN
4           2018       4.63       NaN
..           ...        ...       ...
372         2016      16.26       NaN
373         2017      17.16       NaN
374         2018      17.90       NaN
375         2019      11.42       NaN
376         2020       9.37       NaN

[377 rows x 9 columns]
                    DATAFLOW        LAST UPDATE freq      iccs     unit geo  \
0    ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0101  P_HTHAB  AL
1    ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0101  P_HTHAB  AL
2    ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0101  P_HTHAB  AL
3    ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0101  P_HTHAB  AL
4    ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0101  P_HTHAB  AL
..                       ...                ...  ...       ...      ...  ..
369  ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0101  P_HTHAB  XK
370  ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0101  P_HTHAB  XK
371  ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0101  P_HTHAB  XK
372  ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0101  P_HTHAB  XK
373  ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0101  P_HTHAB  XK

     TIME_PERIOD  OBS_VALUE  OBS_FLAG
0           2014       3.38       NaN
1           2015       1.86       NaN
2           2016       2.46       NaN
3           2017       1.81       NaN
4           2018       1.78       NaN
..           ...        ...       ...
369         2016       1.64       NaN
370         2017       1.85       NaN
371         2018       2.39       NaN
372         2019       1.28       NaN
373         2020       1.57       NaN

[374 rows x 9 columns]
                    DATAFLOW        LAST UPDATE freq      iccs     unit geo  \
0    ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0102  P_HTHAB  AL
1    ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0102  P_HTHAB  AL
2    ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0102  P_HTHAB  AL
3    ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0102  P_HTHAB  AL
4    ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0102  P_HTHAB  AL
..                       ...                ...  ...       ...      ...  ..
333  ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0102  P_HTHAB  XK
334  ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0102  P_HTHAB  XK
335  ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0102  P_HTHAB  XK
336  ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0102  P_HTHAB  XK
337  ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0102  P_HTHAB  XK

     TIME_PERIOD  OBS_VALUE  OBS_FLAG
0           2014       6.25       NaN
1           2015       4.78       NaN
2           2016       4.57       NaN
3           2017       4.48       NaN
4           2018       3.97       NaN
..           ...        ...       ...
333         2016       8.30       NaN
334         2017       7.51       NaN
335         2018       7.73       NaN
336         2019       6.46       NaN
337         2020       6.45       NaN

[338 rows x 9 columns]
                    DATAFLOW        LAST UPDATE freq      iccs     unit  geo  \
0    ESTAT:CRIM_OFF_CAT(1.0)  11/05/23 11:00:00    A  ICCS0301  P_HTHAB   AL

In [22]:
columnas_a_conservar = ['geo', 'TIME_PERIOD', 'OBS_VALUE']
nombres_reales = ['Deuda', 'Desempleo', 'Educación Universitaria', 'Prisioneros Setenciados', 'Prisioneros Prejuicio', 'Riesgo de Pobreza', 'Protección Social', 'Privación de Recursos', 'Inmigración', 'Emigración', 'Robos', 'Robos con violencia', 'Homicidios', 'Intento de Homicidio', 'Violencia Sexual', 'Corrupción']

In [23]:
for i, df in enumerate(dfs):
    df = df[columnas_a_conservar]
    df.columns = ['geo', 'TIME_PERIOD'] + [nombres_reales[i]]
    dfs[i] = df

In [24]:
for df in dfs:
    print(df)

    geo  TIME_PERIOD  Deuda
0    AL         2017   29.4
1    AL         2018   27.2
2    AL         2019   27.4
3    AL         2020   26.2
4    AL         2021   27.9
..   ..          ...    ...
272  UK         2015   10.2
273  UK         2016    8.7
274  UK         2017    8.0
275  UK         2018    8.8
276  XK         2018   49.7

[277 rows x 3 columns]
    geo  TIME_PERIOD  Desempleo
0    AT         2012       28.3
1    AT         2013       28.0
2    AT         2014       31.0
3    AT         2015       33.3
4    AT         2016       36.6
..   ..          ...        ...
332  TR         2016       20.6
333  TR         2017       21.8
334  TR         2018       22.3
335  TR         2019       23.5
336  TR         2020       25.0

[337 rows x 3 columns]
    geo  TIME_PERIOD  Educación Universitaria
0    AT         2012                     16.9
1    AT         2013                     17.7
2    AT         2014                     27.4
3    AT         2015                     28.1
4    AT         2016                     28.9
..   ..          ...                      ...
340  UK         2015                     37.6
341  UK         2016                     38.3
342  UK         2017                     38.7
343  UK         2018                     39.3
344  UK         2019                     40.6

[345 rows x 3 columns]
    geo  TIME_PERIOD  Prisioneros Setenciados
0    AL         2014                    95.48
1    AL         2015                   104.97
2    AL         2016                   105.72
3    AL         2017                   106.20
4    AL         2018                   107.86
..   ..          ...                      ...
363  XK         2016                    69.49
364  XK         2017                    68.91
365  XK         2018                    66.28
366  XK         2019                    69.06
367  XK         2020                    50.73

[368 rows x 3 columns]
    geo  TIME_PERIOD  Prisioneros Prejuicio
0    AL         2014                 100.97
1    AL         2015                 101.82
2    AL         2016                 103.26
3    AL         2017                  82.53
4    AL         2018                  77.34
..   ..          ...                    ...
361  XK         2016                  23.43
362  XK         2017                  21.31
363  XK         2018                  20.85
364  XK         2019                  31.52
365  XK         2020                  27.61

[366 rows x 3 columns]
    geo  TIME_PERIOD  Riesgo de Pobreza
0    AL         2020               15.9
1    AL         2021               13.2
2    AT         2014                8.5
3    AT         2015                8.8
4    AT         2016                8.1
..   ..          ...                ...
262  UK         2014                6.5
263  UK         2015                7.3
264  UK         2016                9.4
265  UK         2017                7.8
266  UK         2018                8.6

[267 rows x 3 columns]
    geo  TIME_PERIOD  Protección Social
0    AL         2018             540.61
1    AL         2019             586.63
2    AL         2020             651.38
3    AL         2021             703.70
4    AT         2012           11000.60
..   ..          ...                ...
341  UK         2014            9729.03
342  UK         2015           11084.96
343  UK         2016            9592.01
344  UK         2017            9395.12
345  UK         2018            9360.11

[346 rows x 3 columns]
    geo  TIME_PERIOD  Privación de Recursos
0    AL         2017                   33.9
1    AL         2018                   30.1
2    AL         2019                   19.8
3    AL         2020                   20.7
4    AL         2021                   22.0
..   ..          ...                    ...
269  UK         2015                   16.4
270  UK         2016                   13.8
271  UK         2017                   12.2
272  UK         2018                   12.8
273  XK         2018                   31.1

[274 rows x 3 columns]
    geo  TIME_PERIOD  Inmigración
0    AT         2012        91557
1    AT         2013       101866
2    AT         2014       116262
3    AT         2015       166323
4    AT         2016       129509
..   ..          ...          ...
332  UK         2015       631452
333  UK         2016       588993
334  UK         2017       644209
335  UK         2018       603953
336  UK         2019       680906

[337 rows x 3 columns]
    geo  TIME_PERIOD  Emigración
0    AT         2012       51812
1    AT         2013       54071
2    AT         2014       53491
3    AT         2015       56689
4    AT         2016       64428
..   ..          ...         ...
334  UK         2015      299183
335  UK         2016      340440
336  UK         2017      359665
337  UK         2018      344347
338  UK         2019      368385

[339 rows x 3 columns]
    geo  TIME_PERIOD   Robos
0    AL         2014  274.90
1    AL         2015  242.98
2    AL         2016  196.17
3    AL         2017  177.15
4    AL         2018  188.62
..   ..          ...     ...
367  XK         2016  710.82
368  XK         2017  312.25
369  XK         2018  309.65
370  XK         2019  269.26
371  XK         2020  237.02

[372 rows x 3 columns]
    geo  TIME_PERIOD  Robos con violencia
0    AL         2014                10.25
1    AL         2015                 8.11
2    AL         2016                 5.53
3    AL         2017                 6.36
4    AL         2018                 4.63
..   ..          ...                  ...
372  XK         2016                16.26
373  XK         2017                17.16
374  XK         2018                17.90
375  XK         2019                11.42
376  XK         2020                 9.37

[377 rows x 3 columns]
    geo  TIME_PERIOD  Homicidios
0    AL         2014        3.38
1    AL         2015        1.86
2    AL         2016        2.46
3    AL         2017        1.81
4    AL         2018        1.78
..   ..          ...         ...
369  XK         2016        1.64
370  XK         2017        1.85
371  XK         2018        2.39
372  XK         2019        1.28
373  XK         2020        1.57

[374 rows x 3 columns]
    geo  TIME_PERIOD  Intento de Homicidio
0    AL         2014                  6.25
1    AL         2015                  4.78
2    AL         2016                  4.57
3    AL         2017                  4.48
4    AL         2018                  3.97
..   ..          ...                   ...
333  XK         2016                  8.30
334  XK         2017                  7.51
335  XK         2018                  7.73
336  XK         2019                  6.46
337  XK         2020                  6.45

[338 rows x 3 columns]
     geo  TIME_PERIOD  Violencia Sexual
0     AL         2014              3.35
1     AL         2015              5.16
2     AL         2016              4.17
3     AL         2017              3.93
4     AL         2018              3.80
..   ...          ...               ...
357  UKN         2018            193.02
358   XK         2016              5.59
359   XK         2017             24.73
360   XK         2018             20.18
361   XK         2019              8.52

[362 rows x 3 columns]
    geo  TIME_PERIOD  Corrupción
0    AL         2016       35.89
1    AL         2017       40.12
2    AL         2018       35.99
3    AL         2019       46.46
4    AL         2020       29.76
..   ..          ...         ...
192  SK         2019        2.50
193  SK         2020        2.40
194  SK         2021        3.41
195  TR         2016        6.30
196  XK         2016       14.68

[197 rows x 3 columns]

In [25]:
merged_df = dfs[0]  
for df in dfs[1:]:
    merged_df = merged_df.merge(df, on=['geo', 'TIME_PERIOD'], how='outer')

In [26]:
merged_df

,geo,TIME_PERIOD,Deuda,Desempleo,Educación Universitaria,Prisioneros Setenciados,Prisioneros Prejuicio,Riesgo de Pobreza,Protección Social,Privación de Recursos,Inmigración,Emigración,Robos,Robos con violencia,Homicidios,Intento de Homicidio,Violencia Sexual,Corrupción
0,AL,2017,29.4,NaN,NaN,106.20,82.53,NaN,NaN,33.9,NaN,NaN,177.15,6.36,1.81,4.48,3.93,40.12
1,AL,2018,27.2,NaN,NaN,107.86,77.34,NaN,540.61,30.1,NaN,NaN,188.62,4.63,1.78,3.97,3.80,35.99
2,AL,2019,27.4,NaN,NaN,97.16,79.09,NaN,586.63,19.8,NaN,NaN,168.84,3.42,2.03,3.25,5.38,46.46
3,AL,2020,26.2,NaN,NaN,80.43,81.69,15.9,651.38,20.7,NaN,NaN,111.11,2.88,1.83,4.01,5.09,29.76
4,AL,2021,27.9,NaN,NaN,76.44,98.70,13.2,703.70,22.0,NaN,NaN,106.19,2.83,2.16,3.57,4.77,34.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,EU27_2020,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2482398.0,NaN,NaN,NaN,NaN,NaN,NaN
406,UA,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19121.0,NaN,NaN,NaN,NaN,NaN,NaN
407,UA,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22587.0,NaN,NaN,NaN,NaN,NaN,NaN
408,BA,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,173.86,26.31,1.56,1.22,NaN,NaN
409,UKM,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1592.24,33.24,1.10,5.70,233.68,NaN

In [27]:
df_Completo = merged_df.dropna()

In [28]:
df_Completo

,geo,TIME_PERIOD,Deuda,Desempleo,Educación Universitaria,Prisioneros Setenciados,Prisioneros Prejuicio,Riesgo de Pobreza,Protección Social,Privación de Recursos,Inmigración,Emigración,Robos,Robos con violencia,Homicidios,Intento de Homicidio,Violencia Sexual,Corrupción
7,AT,2016,6.5,36.6,28.9,78.86,20.32,8.1,12182.53,18.8,129509.0,64428.0,1651.67,35.66,0.56,1.14,50.53,36.22
8,AT,2017,5.9,38.1,29.7,78.81,22.09,9.1,12314.92,16.8,111801.0,66144.0,1501.41,29.75,0.70,1.72,48.48,36.58
9,AT,2018,4.9,33.0,30.1,82.62,21.24,10.2,12667.50,13.4,105633.0,67212.0,1346.62,27.16,0.83,1.48,50.16,35.29
10,AT,2019,4.3,28.6,31.1,81.94,20.47,8.3,13094.67,12.7,109167.0,68280.0,1302.92,29.67,0.84,1.93,50.90,35.65
11,AT,2020,5.3,27.9,31.3,77.71,17.65,8.2,14511.96,14.7,103565.0,62581.0,951.95,24.01,0.61,1.49,46.52,32.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,SI,2016,17.4,53.3,27.2,56.83,6.54,8.5,4551.12,20.9,16623.0,15572.0,1036.44,10.95,0.48,1.26,17.25,56.15
251,SI,2018,13.6,42.8,28.7,50.51,14.61,7.7,4910.89,16.6,28455.0,13527.0,898.94,15.58,0.44,1.79,17.51,10.31
252,SI,2019,12.2,42.9,29.3,51.13,15.95,7.4,5172.40,11.1,31319.0,15106.0,862.41,15.09,0.67,0.82,22.54,10.52
253,SI,2020,10.3,37.9,31.5,50.00,19.13,7.0,5865.45,10.8,36110.0,17745.0,770.47,12.17,0.52,1.62,17.99,14.89
254,SI,2021,9.0,39.1,35.4,36.04,17.83,6.8,6229.11,9.6,23624.0,21144.0,634.76,10.53,0.43,1.04,21.20,11.38

In [29]:
df_Completo.to_csv("df_Completo.csv", index=False)

---

# DF Post EDA

In [30]:
dfs = [Deuda, Desem, Edu, SD, RP, PS, PR, Inm, Robos, Robos_violencia, Ase, IntH, VS, Corr]
nombres_reales = ['Deuda', 'Desempleo', 'Educación Universitaria', 'Prisioneros Setenciados', 'Riesgo de Pobreza', 'Protección Social', 'Privación de Recursos', 'Inmigración', 'Robos', 'Robos con violencia', 'Homicidios', 'Intento de Homicidio', 'Violencia Sexual', 'Corrupción']

In [31]:
for i, df in enumerate(dfs):
    df = df[columnas_a_conservar]
    df.columns = ['geo', 'TIME_PERIOD'] + [nombres_reales[i]]
    dfs[i] = df

In [32]:
merged_df = dfs[0]  
for df in dfs[1:]:
    merged_df = merged_df.merge(df, on=['geo', 'TIME_PERIOD'], how='outer')

In [33]:
df_EDA = merged_df.dropna()

In [34]:
df_EDA

,geo,TIME_PERIOD,Deuda,Desempleo,Educación Universitaria,Prisioneros Setenciados,Riesgo de Pobreza,Protección Social,Privación de Recursos,Inmigración,Robos,Robos con violencia,Homicidios,Intento de Homicidio,Violencia Sexual,Corrupción
7,AT,2016,6.5,36.6,28.9,78.86,8.1,12182.53,18.8,129509.0,1651.67,35.66,0.56,1.14,50.53,36.22
8,AT,2017,5.9,38.1,29.7,78.81,9.1,12314.92,16.8,111801.0,1501.41,29.75,0.70,1.72,48.48,36.58
9,AT,2018,4.9,33.0,30.1,82.62,10.2,12667.50,13.4,105633.0,1346.62,27.16,0.83,1.48,50.16,35.29
10,AT,2019,4.3,28.6,31.1,81.94,8.3,13094.67,12.7,109167.0,1302.92,29.67,0.84,1.93,50.90,35.65
11,AT,2020,5.3,27.9,31.3,77.71,8.2,14511.96,14.7,103565.0,951.95,24.01,0.61,1.49,46.52,32.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,SI,2016,17.4,53.3,27.2,56.83,8.5,4551.12,20.9,16623.0,1036.44,10.95,0.48,1.26,17.25,56.15
251,SI,2018,13.6,42.8,28.7,50.51,7.7,4910.89,16.6,28455.0,898.94,15.58,0.44,1.79,17.51,10.31
252,SI,2019,12.2,42.9,29.3,51.13,7.4,5172.40,11.1,31319.0,862.41,15.09,0.67,0.82,22.54,10.52
253,SI,2020,10.3,37.9,31.5,50.00,7.0,5865.45,10.8,36110.0,770.47,12.17,0.52,1.62,17.99,14.89
254,SI,2021,9.0,39.1,35.4,36.04,6.8,6229.11,9.6,23624.0,634.76,10.53,0.43,1.04,21.20,11.38

In [35]:
df_EDA.to_csv("df_EDA.csv", index=False)